In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Katarina M\Documents\Instacart Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'order_products__prior.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_cleanednew.csv'), index_col = False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,0.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
#del df_ords["Unnamed: 0"]
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   eval_set                object
 4   order_number            int64
 5   order_dow               int64
 6   order_hour_of_day       int64
 7   days_since_prior_order  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 208.8+ MB

In [9]:
df_ords["order_number"] = df_ords["order_number"].astype("int8")
df_ords["order_dow"] = df_ords["order_dow"].astype("int8")
df_ords["order_hour_of_day"] = df_ords["order_hour_of_day"].astype("int8")

In [10]:
#df_ords.order_dow.max()

#df_ords.days_since_prior_order.max()
df_ords["days_since_prior_order"] = df_ords["days_since_prior_order"].astype("int8")

In [11]:
df_ords_prior["reordered"] = df_ords_prior["reordered"].astype("int8")

In [33]:
# can you see your ram info? where is your computer info? I do not know but I ll try to find it now
# i saw thank, we need to close all the additional files, as the ram is very low. Can I ask something? Do you recommend a buying of new computer?
#for solving this problem it is not needed, we can try to solve it somehow. But generally you can buy more powerful comp if you need it.
#so, now. You can try to restart your computer and run all these cells. You will need to use this kind of reducing method (df_ords["order_hour_of_day"] = df_ords["order_hour_of_day"].astype("int8")) in 4.6.2 notebook also.
#but firstly run all these in this notebook and save the files (df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv')))
# as you did before. Ok, I ll try
#So I lll use the generated file from 4.6.1 to 4.6.2? yes. And if you have issues again lets try togethet after abuot 2 or 3 hours,ok? Yes, great, I ll try it
#ok, thanks. Let me know - I am leaving now
#Just one question concerning new computer, should this memmory be higher than 4GB, like 8 or 16 GB? Yes, more ram is better. Mine is 16 for example. 12 is also ok I think. Great than I ll take a look Thank you
#thanks!bye 
# Bye

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0,26405,5,0,both

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [16]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))