In [1]:
# Importing pandas, numpy and os libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Katarina M\Documents\Instacart Basket Analysis'

In [3]:
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Exercise 4.7

In [4]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28,196,1,1,195,Soda,77,7,9.0,both

In [5]:
df = orders_products_merged[:1000000]

In [6]:
df.shape

(1000000, 16)

### 1. If-Statement using function

In [7]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Katarina M\AppData\Local\Temp\ipykernel_9868\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

### 2. If-statement using loc()

In [13]:
orders_products_merged.loc[orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
orders_products_merged.loc[(orders_products_merged['prices'] <= 15) & (orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
orders_products_merged.loc[orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

### 3. If-statements using For-Loops

In [17]:
orders_products_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [18]:
result = []

for value in orders_products_merged["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [19]:
orders_products_merged['Busiest day'] = result

In [20]:
orders_products_merged['Busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest day, dtype: int64

In [21]:
len(result)

32404859

In [22]:
orders_products_merged.shape

(32404859, 18)

# 4.7 Task

#### 1. If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

It is done

#### 2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).

In [24]:
labeling_counts = orders_products_merged['order_dow'].value_counts(dropna = False)

In [25]:
labeling_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [26]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [27]:
day_number = list(labeling_counts.index)

In [28]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [31]:
results = []

In [33]:
for value in orders_products_merged['order_dow']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [34]:
len(results)

32404859

In [35]:
orders_products_merged['order_dow'].shape

(32404859,)

In [36]:
orders_products_merged['busiest_days'] = results

#### 3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [37]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: busiest_days, dtype: int64

#### 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [38]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,busiest_days
0,2539329,1,prior,1,2,8,0,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days
1,2398795,1,prior,2,3,7,15,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,prior,5,4,15,28,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [39]:
dict_labeling_counts = orders_products_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [40]:
dict_labeling_counts

{10: 2761760,
 11: 2736140,
 14: 2689136,
 15: 2662144,
 13: 2660954,
 12: 2618532,
 16: 2535202,
 9: 2454203,
 17: 2087654,
 8: 1718118,
 18: 1636502,
 19: 1258305,
 20: 976156,
 7: 891054,
 21: 795637,
 22: 634225,
 23: 402316,
 6: 290493,
 0: 218769,
 1: 115700,
 5: 87961,
 2: 69375,
 4: 53242,
 3: 51281}

In [42]:
list_quantile = list(orders_products_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [43]:
list_quantile

[2556034.5, 1117230.5, 272562.0]

In [44]:
results_labeling_hour = []

In [45]:
for value in orders_products_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [46]:
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [47]:
labeling_result(results_labeling_hour)

Most orders: 27818650
Average orders: 3989881
Fewest orders: 596328
Total: 32404859

In [48]:
orders_products_merged['order_hour_of_day'].shape

(32404859,)

In [49]:
orders_products_merged['busiest_period_of_day'] = results_labeling_hour

#### 5. Print the frequency for this new column.

In [50]:
orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     3989881
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

#### 6. Ensure your notebook is clean and structured and that your code is well commented.

#### 7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [51]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))